%span
  %strong Título:
  =@internship.title
%span
  %strong Observação:
  =@internship.observation
%span
  %strong Benefícios:
  =@internship.benefits
%span
  %strong Semestre:
  =@internship.semester
%span
  %strong Requisitos:
  =@internship.requirements
%span
  %strong Hora de publicação:
  =l(@internship.publication_time)
%span
  %strong Nome da empresa:
  =@internship.enterprise.corporate_name
%span
  %strong Data de início:
  =l(@internship.start_date)
%span
  %strong Data limite:
  =l(@internship.end_date)
%span
  %strong Cursos:
  =@internship.courses.map(&:abreviation).to_sentence
