/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
}

body {
  background: #EEE;
}

h1 {
  text-transform: uppercase;
}

.navbar {
  border-bottom: 3px solid #e7e7e7;
  border-radius: 0;
}

.main {
  min-height: 540px;
}

.center-alignment {
  max-width: 600px;
  margin: 0 auto;
}

.page-header {
  border-bottom: 2px solid gray!important;
  margin-bottom: 50px;
}

small {
  font-style: italic;
}

footer {
  border-top: 4px solid #e7e7e7;
  background: WhiteSmoke;
  height: 70px;
  padding-top: 10px;
  margin-top: 20px;
}

.table th {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  color: #777777;
}

.footer-bottom {
  width: 100%;
  background: #e7e7e7;
  display: block;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  color: #777777;
}

.add-icon-margin {
  margin: 0 0 20px 12px;
}

.sign_in {
  max-width: 500px;
  margin: 100px auto 0 auto;
}

.thumbnail {
  padding: 0;
}

.useful-links {
  height: 190px;
}

.useful-links img {
  width: 100%;
  height: 160px;
}

.useful-links span {
  padding: 8px;
  width: 100%;
  display: block;
  height: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  font-style: italic;
  color: #777777;
}

textarea.form-control {
  min-height: 120px;
}

.jumbotron {
  position: relative;
  background: WhiteSmoke;
}

.jumbotron img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 200px;
}

.thumbnail:hover {
  text-decoration: none;
  border: 1px solid #dddddd!important;
  box-shadow: 1px -2px 2px #dddddd;
}

img {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

a:hover img {
  opacity: 0.80;
  -moz-opacity: 0.80;
  filter: alpha(opacity=80);
}


.page-header {
  border-bottom: 2px solid #eeeeee;
}
